# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
env/
venv/
ENV/
.venv/

# dotenv / credentials
.env
*.env
firebase_creds.json

# VSCode settings (optional, if you use VSCode)
.vscode/