{% extends "base.html" %} {%import "./components/macros.html" as ui%} {% block
content %}
<div class="flex flex-col gap-24 items-center justify-center">
  <img src="/static/assets/home-left.svg" alt="bg" class="absolute -z-10 left-0 top-0 h-screen">
  <img src="/static/assets/home-right.svg" alt="bg" class="absolute -z-10 right-0 top-0 h-screen">
  <div class="flex flex-col items-center justify-center gap-14 px-4">
    <h1 class="text-4xl lg:text-6xl font-bold text-center">Selamat datang di Ijtihad!</h1>
    <p class="max-w-prose text-center text-xl">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis
      exercitationem reprehenderit animi? Illum, blanditiis quidem. Lorem ipsum
      dolor sit, amet consectetur adipisicing elit. Quis exercitationem
      reprehenderit animi? Illum, blanditiis quidem.
    </p>
    <a href="/">
      <button
        type="button"
        class="flex items-center gap-5 px-10 py-1 rounded-md bg-[#72d3bd] active:bg-[#1a6e6a]"
      >
        <div class="flex p-1 justify-center items-center">
          <img src="/static/assets/user.svg" alt="icon" class="h-6 w-auto" />
        </div>
        <span class="font-semibold text-2xl">Login</span>
      </button>
    </a>
  </div>
  <div
    class="flex max-lg:flex-col mx-auto justify-evenly max-w-screen gap-20 items-center max-lg:justify-center"
  >
    <div
      class="w-80 h-96 p-[1px] rounded-2xl bg-gradient-to-r bg-gradient-to-r from-[#0D464F] via-[#1A6E6A] to-[#E7B767]"
    >
      <div
        class="w-full h-full bg-white rounded-2xl inline-flex flex-col justify-center items-center gap-14"
      >
        <div class="w-44 h-44 bg-zinc-300 rounded-full"></div>
        <div
          class="self-stretch text-center justify-start text-transparent text-3xl font-semibold bg-gradient-to-r bg-gradient-to-r from-[#0D464F] via-[#1A6E6A] to-[#E7B767] bg-clip-text"
        >
          Halal/Haram <br/> Checker
        </div>
      </div>
    </div>
    <div
      class="w-80 h-96 p-[1px] rounded-2xl bg-gradient-to-r bg-gradient-to-r from-[#0D464F] via-[#1A6E6A] to-[#E7B767]"
    >
      <div
        class="w-full h-full bg-white rounded-2xl inline-flex flex-col justify-center items-center gap-14"
      >
        <div class="w-44 h-44 bg-zinc-300 rounded-full"></div>
        <div
          class="self-stretch text-center justify-start text-transparent text-3xl font-semibold bg-gradient-to-r bg-gradient-to-r from-[#0D464F] via-[#1A6E6A] to-[#E7B767] bg-clip-text"
        >
          Syariah Chatbot
        </div>
      </div>
    </div>
    <div
      class="w-80 h-96 p-[1px] rounded-2xl bg-gradient-to-r bg-gradient-to-r from-[#0D464F] via-[#1A6E6A] to-[#E7B767]"
    >
      <div
        class="w-full h-full bg-white rounded-2xl inline-flex flex-col justify-center items-center gap-14"
      >
        <div class="w-44 h-44 bg-zinc-300 rounded-full"></div>
        <div
          class="self-stretch text-center justify-start text-transparent text-3xl font-semibold bg-gradient-to-r bg-gradient-to-r from-[#0D464F] via-[#1A6E6A] to-[#E7B767] bg-clip-text"
        >
          Contract Checker
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
