{% macro button(label="Click me", variant="primary", icon=None) %} 
  {% set base = "flex w-[237px] h-[54px] justify-center items-center gap-[20px] shrink-0 rounded font-semibold transition rounded-lg" %} 
  {% if variant == "primary" %}
    {% set classes = base + "bg-[#72d3bd] active:bg-[#1a6e6a]" %}
  {% elif variant == "secondary"%}
    {% set classes = base + "bg-white active:bg-[#b2b2b2] border-[#72d3bd] active:border-[#1a6e6a]" %} 
  {% endif %}

<button class="{{ classes }}">
  {% if icon %}
  <div class="flex p-1 justify-center items-center">
    <img src="{{ icon }}" alt="icon" class="h-6 w-auto" />
  </div>
  {% endif %}
  <h5 class="text-h5 text-Text">{{ label }}</h5>
</button>
{% endmacro %}
